<div class="chat-container">
  <div class="messages-container" id="answer">
    <div class="message-bot">
      <img src="<%= asset_path('avatar.png') %>" alt="Asistente" class="avatar">
      <p><strong>Asistente de Solidus:</strong> ¡Hola! Soy tu asistente de compras de Solidus. Pregúntame sobre nuestros productos, precios o cualquier otra cosa en la tienda.</p>
    </div>

    <%= turbo_frame_tag "answer" do %>
      <% @conversation ||= [] %>
      <% @conversation.each do |message| %>
        <div class="<%= message[:type] %>">
          <% if message[:type] == 'message-bot' %>
            <img src="<%= asset_path('avatar.png') %>" alt="Asistente" class="avatar">
          <% end %>
          <p><%= message[:text] %></p>
        </div>
      <% end %>
    <% end %>
  </div>

  <%= turbo_frame_tag "new_question" do %>
    <div class="input-container">
      <%= form_tag questions_path, method: :post, class: 'question-form' do %>
        <%= text_field_tag "question[question]", nil, placeholder: "Escribe tu pregunta...", class: 'input-field' %>
        <div class="buttons-container">
          <button type="submit" class="send-button">Enviar</button>
          <button type="button" class="voice-button" id="voiceButton">Voz</button>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

<%= javascript_include_tag "voice_recognition" %>
